In [72]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
from copy import deepcopy as copy

In [73]:
# initial cost for a tesla, currently $39k in real life, Elon promised $25k by 2022
cost_for_tesla = 39_000
# how many miles each car can operate for before being de-commisioned
tesla_longevity_miles = 1_000_000
# how many miles the car is operational each month 7,500 in Tesla slides
tesla_miles_per_month = 7_500
number_of_months = 20 * 12
# 0.65 in Tesla slides
profit_per_mile = 0.65
# 0.5 in Tesla slides
occupied_miles = 0.5
# change in profit each year
profit_decay_coefficient = 0.95
# change in tesla price each year
tesla_price_increase_coefficient = 0.03
# what order of magnitude steps up operational costs (if set to 10 will do 10, 100, 1000, etc...)
magnitude_adjustment_original = 10
current_magnitude_adjustment = magnitude_adjustment_original
# change in each tesla cost when next order of magnitude is hit
magnitude_step_change = 0.05

In [74]:

number_of_teslas = 1
cash = 0 - (number_of_teslas*cost_for_tesla)
remaining_miles = []
cash

-39000

In [75]:
for x in range(0, number_of_teslas):
    remaining_miles.append(tesla_longevity_miles)
remaining_miles

[500000]

In [76]:
# currently represents total revenue, comment out this line and uncomment the line below to make it only money made afer debt is paid
total_money_earned = 0
# total_money_earned = cash
df= pd.DataFrame(columns=["Month", "Number of Teslas Owned", "Operational Miles Remaining", "Total Money Earned", "Cash"])
for x in range(0, number_of_months):
    print(x)
    # annual adjustment
    if x/12 == x//12:
        profit_per_mile = profit_per_mile * profit_decay_coefficient
        cost_for_tesla = cost_for_tesla * (1 + tesla_price_increase_coefficient)
    money_earned_month = 0
    new_remaining = []
    for y in remaining_miles:
        if y>= tesla_miles_per_month:
            money_earned_month = money_earned_month + (occupied_miles * profit_per_mile*tesla_miles_per_month)
            remaining_miles = y- tesla_miles_per_month
            if remaining_miles>0:
                new_remaining.append(remaining_miles)
        else:
            money_earned_month = money_earned_month + (occupied_miles * profit_per_mile * y)
    total_money_earned = total_money_earned + money_earned_month
    cash = cash + money_earned_month
    if cash>=cost_for_tesla:
        number_of_teslas_to_buy = int(cash//cost_for_tesla)
        # print(f"Number of Teslas to buy: {number_of_teslas_to_buy}")
        cash = cash - number_of_teslas_to_buy*cost_for_tesla
        for z in range(0, number_of_teslas_to_buy):
            new_remaining.append(tesla_longevity_miles)
    remaining_miles = copy(new_remaining)
    dictionary = {
        "Month": x+1,
        "Number of Teslas Owned": len(remaining_miles),
        "Operational Miles Remaining": sum(remaining_miles),
        "Total Money Earned": total_money_earned,
        "Cash": cash
    }
    df = df.append(dictionary, ignore_index=True)
df

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239

,Month,Number of Teslas Owned,Operational Miles Remaining,Total Money Earned,Cash
0,1.0,1.0,492500.0,2.315625e+03,-36684.375000
1,2.0,1.0,485000.0,4.631250e+03,-34368.750000
2,3.0,1.0,477500.0,6.946875e+03,-32053.125000
3,4.0,1.0,470000.0,9.262500e+03,-29737.500000
4,5.0,1.0,462500.0,1.157812e+04,-27421.875000
...,...,...,...,...,...
235,236.0,47.0,11425000.0,5.932681e+06,31721.519007
236,237.0,47.0,11575000.0,5.973459e+06,2060.954529
237,238.0,47.0,11222500.0,6.014528e+06,43129.998015
238,239.0,47.0,11372500.0,6.055305e+06,13469.433537
239,240.0,46.0,11022500.0,6.096083e+06,54247.207210

In [77]:
df.to_csv('robotaxi_analysis_39k_decay.csv', index=False)